@import 'reset.css';
@import 'font-awesome.css';
@import 'bootstrap.css';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=cyrillic');

@import 'basics.css';

@import 'menubar.css';
@import 'menubar_compact';

@import 'sidebar.css';
@import 'sidebar_compact.css';

@import 'content.css';
@import 'content_compact.css';
