@import 'reset.css';
@import 'font-awesome.css';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=cyrillic');

@import 'basics.css';
@import 'menubar.css';
@import 'sidebar.css';
@import 'content.css'
